<div class="noass_settings">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>Image Embedder Settings</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <label class="flex-container">
                <input type="checkbox" id="imageEmbedderEnabled" checked>
                <span>Enable extension</span>
            </label>

            <div class="flex-container" style="margin: 10px 0">
                <input type="text" 
                       id="imageEmbedderFolder" 
                       class="text_pole flex1" 
                       placeholder="Select images folder..."
                       readonly>
                <button id="imageEmbedderFolderBtn" 
                        class="btn btn-primary"
                        style="margin-left: 5px">
                    <i class="fa fa-folder-open"></i>
                </button>
            </div>

            <div class="flex-container flexFlowColumn">
                <label>Max image width:</label>
                <input type="text" 
                       id="imageEmbedderMaxWidth" 
                       class="text_pole"
                       placeholder="600px"
                       pattern="\d+(px|%)">
            </div>

            <div class="flex-container flexFlowColumn" style="margin-top: 15px">
                <div class="imageEmbedderStatus" id="imageEmbedderStatus">
                    <i class="fa fa-image"></i>
                    <span id="imageEmbedderCount">0</span> images loaded
                </div>
            </div>
        </div>
    </div>
</div>
